body {
  padding-top: 40px;
  font-family:"Alegreya Sans", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.row {
  margin: 0;
}

p {
  font-size: 15px;
  color:#333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

h1{
  font-size: 34px;
  color:#2E93BE;
  text-align:left;
  line-height: 40px;
  letter-spacing: 2px;
}

h2{
  font-size: 18px;
  color:#fff;
  text-align: left;
  line-height: 25px;
  font-weight: 200;
}

h4{
  font-size: 25px;
  text-align:center;
  color:#333;
  letter-spacing: 1px;
}

h5{
  font-size: 50px;
  text-align:center;
  color: #2D92BE ;
}

.line {
  background-image: url('images/lines.png');
  height: 11px;
  margin-top: 30px;
}

/**
 * Header
 */
 header {
  margin-bottom: 40px;
}

/**
 * Logo
 */
.logo a img{
  max-width: 250px;
  width: 100%;
}

/**
 * Menu
 */
 nav.menu{
  padding: 0px;
}

.nav{
  padding-top: 50px;
}

.nav.nav-pills li{
  border-bottom: 1px solid #666;
  margin-left: 30px;
}

.nav-pills li a{
  padding: 0px;
  line-height: 32px;
  color: #666;
  text-align: left;
  width: 120px;
}

.nav-pills li a:hover{
  color:#2E93BE;
  background-color: #fff;
}

body.products .nav a.products,
body.sustainability .nav a.sustainability,
body.team .nav a.team {
  color:#2E93BE;
}

/**
 * Content
 */
 .content{
  padding-top: 30px;
}

/**
 * Footer
 */
 footer {
  background-color: #424242;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  .social-media {
    margin-top: 20px;
    padding-left: 20px;
    .fa {
      display: inline-block;
      font-size: 18px;
      line-height: 18px;
      margin-right: 5px;
      width: 20px;
    }
    .btn {
      color: #DDD;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
      padding: 0;
    }
  }

  .slogan {
    margin-top: 10px;
    text-align: center;
    img {
      max-height: 80px;
    }
    h3 {
      color: #EEE;
      font-size: 32px;
      font-weight: 100;
      text-align: center;
    }
  }

  .copyright{
    font-family:"Alegreya Sans", sans-serif;
    text-align: center;
    font-size: 12px;
    color: #888;
    list-style-type: none;
  }

  .logo {
    margin-top: 20px;
    text-align: center;
    img {
      float: none;
      padding: 0;
      height: 45px;
    }
  }
}
