.box {
  margin-bottom: 30px;
  position: relative;
  h4 {
    padding-bottom: 10px;
  }
  p {
    font-weight: 200;
  }

  .borderbox{
    height: 350px;
    border: 1px solid #C8C8C8;
    max-height: 100%;
    padding: 20px;
  }

  .more {
    bottom: 10px;
    position: absolute;
    right: 30px;
  }

  &.product{
    cursor: pointer;
    img{
      height: 120px;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto
    }
  }
}

.mission {
  border: none;
  font-family: 'Roboto Slab', serif;
  min-height: 300px;
  transition: all 3s;
  h1{
    margin: 0px;
    margin-bottom: 20px;
  }
  h2 {
    padding: 0px;
    font-size: 22px;
    color:#333;
    text-align:left;
    line-height: 32px;
    font-weight: 200;
  }
  p{
    padding: 0px;
  }
  ul{
    padding-left: 0px;
    li{
      list-style: none;
      display: inline;
      float: left;
      text-indent: none;
      font-weight: bold;
      font-size: 16px;
      color: #666;
      padding-right: 20px;
      text-transform: uppercase;
    }
  }
  .image img {
    height: auto;
    max-height: 350px;
    max-width: 290px;
    width: auto;
  }
}

.borderbox.box.fact{
  height: 350px;
  border: 1px solid #C8C8C8;
  max-height: 100%;
}

.fact{
  h1{
    text-align: center;
    letter-spacing: 4px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 200;
  }
  h3{
    text-align: center;
    letter-spacing: 1px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 100;
  }
}

.feature {
  h2,
  h3,
  h4,
  h5{
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  &.Economically,
  &.Faster,
  &.Packaging,
  &.Pesticide,
  &.Water {
    .borderbox {
      padding-top: 40px;
    }
    h3{
      letter-spacing: 4px;
      font-size: 60px;
      font-weight: 200;
      color: #2E93BE;
      margin: 50px 0;
    }
    h4{
      letter-spacing: 1px;
      font-size: 36px;
    }
  }

  &.Faster {
    .borderbox {
      padding-top: 30px;
    }
    h3{
      font-size: 30px;
      color: #5D9D43;
    }
    h4{
      font-size: 26px;
    }
  }

  &.Water {
    .borderbox {
      padding-top: 30px;
    }
    h3{
      margin: 30px 0;
    }
    h4{
      font-size: 26px;
    }
  }

  &.Pesticide {
    .borderbox {
      padding-top: 15px;
    }
    h4{
      font-size: 42px;
      line-height: 54px;
    }
  }

  &.Economically{
    .borderbox {
      padding-top: 40px;
    }
    h4{
      font-size: 30px;
      line-height: 54px;
    }
  }
}
