.sustainability {
  .box {
    margin-bottom: 0px;
  }

  .box.mission h1 {
    margin-bottom: 10px;
  }

  .video {
    margin-top: 0px;
    p{
      color:#666;
      font-weight: 200;
    }
  }

  h1{
    font-size: 30px;
  }
  h3{
    margin-top: -10px;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    font-weight: 200;
  }
  .mission.box p{
    font-size: 15px;
    color:#333;
    font-family:"Alegreya Sans", sans-serif;
    line-height: 21px;
    font-weight: normal;

  }
}

