.team .content{
  .box p{
    margin: 0px;
    padding: 0px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    color:#333;
    margin-top: -10px;
  }
  .box.mission h1 {
    margin-bottom: 10px;
  }

  .video {
    margin-top: -210px;
  }
}