      <div class="mission box col-md-8">
        <h1> Every harvest is always nutrient rich premium quality produce. </h1>
        <p>It is the result of plants root having access to nutrients 24 hours allows them to grow faster. Vegetables such as lettuce and herbs which takes approximately 2 months to mature when planted normally in soil have been proven to mature in approximately one month when grown in aquaponics systems. </p>
      </div>

      <div class="product box col-md-4">
        <div class="borderbox">
          <h4>Tilapia</h4>
          <img src="images/tilapia.png" alt="Tilapia">
          <p>Tilapia is a warm water, fresh water fish farmed in a few locations in Canada. Toronto is the single largest </p>
        </div>
      </div>

      <div class="product box col-md-4">
        <div class="borderbox">
          <h4>Lettuce</h4>
          <img src="images/lettuce.png" alt="Lettuce">
          <p>Leafy lettuce is one of the incredible leafy vegetables packed with essential nutrients that benefit overall  </p>
        </div>
      </div>

      <div class="fact box col-md-4">
        <div class="borderbox">
          <h5>Packaging is <br> 100% <br> compostable</h5>
        </div>
      </div>

      <div class="product box col-md-4">
        <div class="borderbox">
          <h4>Chives</h4>
          <img src="images/chives.png" alt="Chives">
          <p>Sweet, mild-onion flavored chives are fresh top greens of lily family vegetables. The leaves are tubular  </p> 
          <div class="pull-right more"><a href="#"> more...</a></div>
        </div>
      </div>

      <div class="product box col-md-4">
        <div class="borderbox">
          <h4>Arugula</h4>
          <img src="images/chives.png" alt="Chives">
          <p>Leafy lettuce is one of the incredible leafy vegetables packed with essential nutrients that benefit overall  </p>
        </div>
      </div>
