      <div class="mission box col-md-8">
        <h1> Every harvest is always nutrient rich premium quality produce. </h1>
        <p>It is the result of plants root having access to nutrients 24 hours allows them to grow faster. Vegetables such as lettuce and herbs which takes approximately 2 months to mature when planted normally in soil have been proven to mature in approximately one month when grown in aquaponics systems.</p>
      </div>

      <div class="product box col-md-4" ng-repeat="box in page.boxes">
        <div class="borderbox">
          <h4>{{box.title}}</h4>
          <span ng-bind-html="box.thumbnail"></span>
          <span ng-bind-html="box.body"></span>
        </div>
      </div>

      <div class="fact box borderbox col-md-4">
        <h3>Packaging is</h3><br><h1>100%</h1><br><h3>compostable.</h3>
      </div>

      <div class="fact two box borderbox col-md-4">
        <h3>Aquaponics plants take about</h3><h1>50% </h1><h4>time to grow</h4><h3>as compared to<br>plants in soil.</h3>
      </div>

      <div class="fact three box borderbox col-md-4">
        <h1>Pesticide,<br>herbicide,<br>&<br>fungicide free product.</h1>
      </div>

      <div class="fact four box borderbox col-md-4">
        <h3>Water consumption reduced by about</h3><h1>90%</h1><h3>of conventional farming methods.</h3>
      </div>

      <div class="fact five box borderbox col-md-4">
        <h1>Economically, socially,<br>&<br> environmentally <h4>responsible.</h4></h1>
      </div>
