<div ng-bind-html="page.body" class="mission box col-md-8"></div>

<div class="video col-md-4">
  <iframe ng-src="{{page.vimeo}}" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <span ng-bind-html="page.vimeoDescription"></span>
</div>

<!--
<div class="mission box col-md-8">
  <h1>Aquaponics 101</h1>
  <p>Everything we do, we believe in being socially, economically, and environmentally responsible. We believe in thinking differently. The way we do this is providing the most nutrient rich, locally grown organics and fish to the city of Toronto. </p>
</div>

<div class="col-md-8">
  <p>Under the video explaination) Aquaponics is the cultivation of fish and plants together in a re-circulating, closed loop ecosystem. Aquaponics is a hydroponic growing method that requires no soil. The plant roots are bathed in nutrient rich, highly oxygenated water that sees growth rates far above soil-grown plants. The “aqua” in aquaponics refers to the fish side of the equation. Natural bacterial cycles are utilized to convert fish waste to plant nutrients.  Plants in turn, clean and filter the water that returns to the fish environment. </p>
  <p>Bolier plate: Aquagreens is dedicated to producing and selling the most nutrient rich, locally grown organic greens and tilapia to grocery stores and restaurants in the city of Toronto.  We are passionate about connecting people and communities with food through aquaponics.   The harvesting methods we practice guarantees a pesticide, herbicide and fungicide free product. We are committed to strengthening local communities through the celebration and awareness of aquaponic food production in ways that are economically, socially and environmentally responsible.</p>
</div>

<div class="video col-md-4">
  <iframe src="//player.vimeo.com/video/18196440" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>The Hawaiian Islands are often called paradise. But living in the middle of the Pacific Ocean comes at a price. <br /> <br /> Supermarket chain &ldquo;Wholefoods&rdquo; is known locally as &ldquo;Whole Paycheck.&rdquo; And with a cost of living 30% higher than places like New York, the island is jokingly called &ldquo;the palmed prison&rdquo; because some people simply can&rsquo;t afford to leave. <br /> <br /> To break this dependence, some residents are looking to aquaponics &ndash; a system that combines aquatic farming with hydroponics. <br /> <br /> Al Jazeera English investigates ...<br /> <br /> <br /> Filmed on Panasonic GH1.<br /> </p>
</div>

 -->
